* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.form-container {
  width: 350px;
  margin-top: 150px;
}

.logout-btn {
  top: 9px;
  right: 0;
}

.private-chat-section {
  min-height: calc(100vh - 56px);
  background-color: #999898;
}

.private-chat-section-cont {
  width: 640px;
}

.private-chat-section-message {
  height: calc(100vh - 88px);
  background-color: #a8a8a8;
}

.private-chat-section-message-box {
  min-height: calc(100vh - 165px);
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  border-top: 1px solid rgb(207, 207, 207);
  word-break: break-all;
}

.private-chat-section-send-box {
  height: 77px;
  border: 1px solid rgb(207, 207, 207);
}

.message-title {
  min-height: 40px;
}

#messageBox {
  height: 100px;
  overflow-y: scroll;
  padding-bottom: 50px !important;
}

.users-list {
  position: absolute;
  right: 0;
  top: 72px;
  width: 300px;
  background-color: #a8a8a8;
  height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users-list-item {
  height: 40px;
  width: 100%;
  display: flex;
  padding-left: 30px;
  align-items: center;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  margin-bottom: -1px;
  position: relative;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: green;
  position: absolute;
  right: 10px;
  top: 15px;
}

@media only screen and (max-width: 576px) {
  .private-chat-section-cont {
    width: 100%;
  }
}

@media only screen and (max-width: 1210px) {
  .users-list {
    display: none;
  }
}
