* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.form-container {
  width: 350px;
  margin-top: 150px;
}

.logout-btn {
  top: 9px;
  right: 0;
}

.private-chat-section {
  min-height: calc(100vh - 56px);
  background-color: #302e2e;
}

.private-chat-section-cont {
  width: 640px;
}

.private-chat-section-message {
  height: calc(100vh - 88px);
  background-color: #595757;
  color: #dedede;
}

.private-chat-section-message-box {
  min-height: calc(100vh - 165px);
  word-break: break-all;
}

.private-chat-section-send-box {
  height: 77px;
  border-top: 1px solid #787878;
}

.private-chat-section-send-box input {
  height: 40px;
  background-color: #6e6e6e;
  color: #dedede;
}

.private-chat-section-send-box input::placeholder {
  color: #b0b0b0;
}

.message-title {
  min-height: 40px;
}

#messageBox {
  height: 100px;
  overflow-y: scroll;
}

.users-list {
  right: 0;
  top: 72px;
  width: 300px;
  background-color: #595757;
  height: calc(100vh - 88px);
}

.users-list-item {
  color: #dedede;
  height: 40px;
  border-top: 1px solid #787878;
  border-bottom: 1px solid #787878;
  margin-bottom: -1px;
}

.online {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-thumb {
  background-color: #787878;
  outline: 1px solid #787878;
}

@media only screen and (max-width: 576px) {
  .private-chat-section-cont {
    width: 100%;
  }
}

@media only screen and (max-width: 1210px) {
  .users-list {
    display: none !important;
  }
}
